body {
    padding: 20px;
  }

.h2DiscountStyles {
    margin: 0 auto;
    max-width: 300px;
    border: solid 2px #ccc;
    padding: 20px;
    font-size: 50px;
    text-align: center;
    color: white;
}

#Overflow {
    overflow-wrap: break-word;
    hyphens: auto;
    /* Wrapping container around text: https://www.educative.io/answers/how-to-wrap-text-using-css */
  }

  .discountContainer {
    width: inherit;
    background-color: #cc0e0e;
    border: none;
    border-radius: 12px;
    font-family: 'Bodoni Moda', serif;

}

.h2BarberStyles {
    max-width: 700px;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0.2em;
    text-shadow: 1px 3px #bd4d4d;
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/text-shadow#:~:text=The%20text%2Dshadow%20CSS%20property,%2C%20blur%20radius%2C%20and%20color.n*/
}


.barbershopContainer {
    color: lightcoral;
    font-family: 'Teko', sans-serif;
    padding: 15px;
    height: 50px;
    border: lightblue 8px solid;
    border-right: lightblue 15px solid;
    border-left: lightblue 15px solid;
}

.barberInnerContainer {
    background-color: whitesmoke;
    width: 30%;
    margin: 0 auto;
    text-align: center;
}

.barberOuterBorder {
    background-color: lightblue;
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

.barberBackground {
    background: repeating-linear-gradient(to right, whitesmoke 5%, #e1e1e1 15%);
    /* https://www.quackit.com/css/functions/css_repeating-linear-gradient_function.cfm */
}

.tiltedA {
  transform: rotate(-270deg);
}